<div class = "@DivClass">
    <h2>
        @TitleText
    </h2>
    
    
    
    
    

</div>
@code {
    [Parameter]
    public string DivClass { set; get; } = "";
    [Parameter]
    public string TitleText { set; get; } = "Login";







}
