@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient Http
@using CommonModelsLib cml
<div class = "@DivClass">
    <h2>
        @TitleText
    </h2>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" @bind="so.Id" id="form2Example1" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" @bind="so.Password" id="form2Example2" class="form-control" />
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary w-100 btn-block mb-4" @onclick="login">Sign in</button>
    </form>
</div>
@code
{
    [Parameter]
    public string DivClass { set; get; } = "";
    [Parameter]
    public string TitleText { set; get; } = "Login";

    
    private  SentObject so =
    new ("email");

    private async Task login()
    {
        Console.WriteLine(Http.BaseAddress);
        Http.BaseAddress = new Uri("localhost:7028");
        Console.WriteLine(Http.BaseAddress);
        var response = await Http.PostAsJsonAsync("localhost:7028", so);
    }
}
