@using System.Reflection
<div class="@DivClass">
    <h2>
        @TitleText
    </h2>
    <form>
        
        @foreach (string prop in Properties)
        {
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">@prop</label>
                <input 
                    type="@(prop == "Password" ? "password" : "text" )"
                    id="form2Example1" class="form-control" />
            </div>
        }
        
        
        <button type="button" class="btn btn-primary w-100 btn-block mb-4">Sign in</button>
    </form>
</div>
@code {
    [Parameter]
    public string DivClass { set; get; } = "";

    [Parameter]
    public string TitleText { set; get; } = "Register";
    
    private List<String> Properties => Object.GetType().GetFields().Select(a => a.Name.ToString()).ToList();

    private FieldInfo[] PropertiesName => Object.GetType().GetFields();
 
    [Parameter]
    public Object Object { set; get; } = null!;

}
